@model Post
@{
    ViewData["Title"] = Model.Title;
}

<div class="post my-2">
    <h1 class="post-title text-center">@Model.Title</h1>
    <span class="post-date float-right">@Model.PublishDate.ToShortDateString()</span>
    <span class="post-date float-left">@Model.Category.Name</span>
    <p class="mt-5 px-0">@Html.Raw(Model.Content)</p>
</div>

